.clearfix::after { content: ""; display: block; clear: both; }
/* 떠오르기 때문에 figure를 감싸고 있는 contianer의 높이가 사라짐 
높이를 유지하기 위해서 <div style="clear:both"></div>를 html에 적어주면 되는데, 빈 box는 사용하지 않는다.
그래서 가상요소::after를 사용해서 clear:both(왼.오)해줌*/


.header { line-height: 100px; }
.header .container { width: 1200px; margin: 0 auto; }
.header h1 { float: left; padding: 0 15px; }
.header .gnb { float: right; padding: 0 15px; }
.header .gnb>ul>li { float: left; }
.header .gnb>ul>li>a { display: block; padding: 0 15px;  }

.float01 { padding: 100px 0; text-align: center; background: #0f0;}

.float01 h2 { font-size: 21px; font-weight: 700; margin: 0 0 10px 0; }
.float01 p { font-size: 15px; font-weight: 300; margin: 0 0 30px 0; }

.float01 .container { width: 1200px; margin: 0 auto; }
.float01 .container figure { float: left; width: 33.333333%; padding: 0 15px; }
/* display:flex를 준 게 아니어서 gap을 줄 수 없음 => padding으로 간격 줌
float을 하면 사이즈가 1200px이 아니라 1170사이즈임 */

.mopen { display: none; }


/* 반응형 */
@media (max-width: 768px) {
    .header { line-height: 100px; }
.header .container { width: auto; margin: 0 auto; }
.header h1 { float: left; padding: 0 15px; }
.header .gnb { float: none; position: fixed; top: 0; left: -100%; width: calc(100% - 90px); height: 100vh; background: #fff; border-right: 1px solid #ddd; padding: 50px 15px 0 15px; transition: left 0.5s; }
.header .gnb.on { left: 0; } 
.header .gnb>ul>li { float: none; border-bottom: 1px solid #ddd; }
.header .gnb>ul>li>a { display: block; padding: 0 15px; line-height: 40px; }


.float01 { padding: 100px 0; text-align: center; background: #0f0;}

.float01 h2 { font-size: 21px; font-weight: 700; margin: 0 0 10px 0; }
.float01 p { font-size: 15px; font-weight: 300; margin: 0 0 30px 0; }

.float01 .container { width: auto; margin: 0 auto; }
.float01 .container figure { float: left; width: 100%; padding: 15px 15px; }

.mopen { display: block; position: fixed; top: 30px; right: 25px; line-height: 1; } 

}
